<html>
<header>
	<title>{{title}}</title>
	<link rel="stylesheet"
      type="text/css"
      href="/static/style.css"/>
</header>
<body>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-45110496-1', 'ptolemy.herokuapp.com');
ga('send', 'pageview');

</script>
	<center>
<div class="main_div">
	<div class="page_title"><br><em>Ptolemy</em><br/>
	<small><small>Sexagesimal Calculator</small></small></div>   

	<!-- ERROR -->
	{% if errors %}{% for error in errors%}
		<div class="error_header">ERROR</div>
		<div class="error">{{ error.to_html() }}</div>
	{% endfor %}{% endif %}


	<!-- INSTRUCTIONS -->
	{% if instructions %}
		<div class="controls_header">INSTRUCTIONS</div>
		<div class="controls">
			Please enter a query below. Valid input includes sexagesimal numbers (<span class="expression">3;30,5</span>), decimal numbers (<span class="expression">1.25</span>), chord calculations (<span class="expression">crd2;15</span>), parentheses and the five basic operators: <span class="expression">+</span>, <span class="expression">-</span>, <span class="expression">^</span>, <span class="expression">*</span>, and <span class="expression">:</span> or <span class="expression">/</span> for division.
		</div>
	{% endif %}

	<!-- WARNING -->

	{% if warning %}
		<div class="warning_header"><span class="header">WARNING</span></div>
		<div class="warning">
			Multiplication and division calculations are
			conducted by first converting the number to decimal, performing
			the multiplication and converting back. This is not completely
			accurate. All numbers are trimmed at six places.
		</div>
	{% endif %}

	<!-- STEPS -->


	<!-- RESULT -->
	<!-- <div class="controls_header">Result</div> -->
	
		{% if result %}
		<div class="controls_header">QUERY</div>
		<div class="controls">
				<div class="step">
					<center><span class="expression">{{ query }}</span></center>
				</div>
		</div>

		{% if steps %}
		<div class="controls_header">STEPS</div>
		<div class="controls">
			{% for step in steps%}
				<div class="step"><center><span class="expression">{{ step }}</span></center></div>
			{% endfor %}
		</div>
		{% endif %}
		

		<div class="controls_header">RESULT &amp; NEW QUERY</div>
		<div class="controls">
					<!-- <div class="step">
						<center><span class="expression">{{ result }}</span></center>
					</div> -->
				<form action="/" method="post" name="query">
                    <input type="text" name="query" value="{{ result }}">
                </form>
                <div class="footer"><center>Decimal Notation: {{ decimal }}</center></div>
		</div>
		


		{% else %}
			{% if error %}
			<div class="controls_header">ENTER A NEW QUERY</div>
			{% else %}
			<div class="controls_header">ENTER A QUERY</div>
			{% endif %}
			<div class="controls">
				<form action="/" method="post" name="query">
				<input type="text" name="query"></form>
			</div>
			
		{% endif %}
	

	<div class="footer">
		<center><a href="https://github.com/johnvining/ptolemy/releases">v0.3</a> &middot; <a href="https://github.com/johnvining/ptolemy">Git Hub</a> &middot; <a href="mailto:john@jvining.com">Contact</a></center>
	</div>

</div></center>
</body></html>