<html>
<header>
	<title>{{title}}</title>
	<link rel="stylesheet"
      type="text/css"
      href="/static/style.css"/>
</header>
<body>
	<center>
<div class="main_div">
	<div class="page_title"><br><em>Ptolemy</em><br/>
	<small><small>Sexagesimal Calculator</small></small></div>   

	<!-- ERROR -->
	{% if error %}
		<div class="error_header"><span class="header">ERROR</span></div>
		<div class="error">
			{{ error }}
		</div>
	{% endif %}

	<!-- INSTRUCTIONS -->
	{% if instructions %}
		<div class="controls_header">INSTRUCTIONS</div>
		<div class="controls">
			Please enter a query below. Valid input includes sexagesimal numbers (3;30,5), decimal numbers (1.25), and the five basic operators: +, -, ^, *, and : for division.
		</div>
	{% endif %}

	<!-- WARNING -->

	{% if warning %}
		<div class="warning_header"><span class="header">WARNING</span></div>
		<div class="warning">
			Multiplication and division calculations are
			conducted by first converting the number to decimal, performing
			the multiplcation and converting back. This is not completely
			accurate. All numbers are trimed at six places.
		</div>
	{% endif %}

	<!-- STEPS -->


	<!-- RESULT -->
	<!-- <div class="controls_header">Result</div> -->
	
		{% if result %}
		<div class="controls_header">QUERY</div>
		<div class="controls">
				<div class="step">
					<center><span class="expression">{{ query }}</span></center>
				</div>
		</div>

		{% if steps %}
		<div class="controls_header">STEPS</div>
		<div class="controls">
			{% for step in steps%}
				<div class="step"><center><span class="expression">{{ step }}</span></center></div>
			{% endfor %}
		</div>
		{% endif %}
		

		<div class="controls_header">RESULT &amp; NEW QUERY</div>
		<div class="controls">
					<!-- <div class="step">
						<center><span class="expression">{{ result }}</span></center>
					</div> -->
				<form action="/" method="post" name="query"><input type="text" name="query" value="{{ result }}"></form>
		</div>
		


		{% else %}
			{% if error %}
			<div class="controls_header">ENTER A NEW QUERY</div>
			{% else %}
			<div class="controls_header">ENTER A QUERY</div>
			{% endif %}
			<div class="controls">
				<form action="/" method="post" name="query">
				<input type="text" name="query"></form>
			</div>
			
		{% endif %}
	

	<div class="footer">
		<center><a href="https://github.com/senecando/ptolemy/releases/tag/v0.1-alpha">v0.1</a> &middot; <a href="https://github.com/senecando/ptolemy">Git Hub</a> &middot; <a href="mailto:johnvining@gmail.com">Contact</a></center>
	</div>

</div></center>
</body></html>